
.container-img {
    width: 100%;
}

.container-img img {
    width: 320px;
    height: 100%;
    /*object-fit: revert;*/
    border-radius: .85em;
}

.description ul {
    list-style: none;
}

.review-content {
    height: 120px;
}
